<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title !='undefined' ? title: 'Thaba Serviços' %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700&family=Rubik:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styless.css">
    <link rel="shortcut icon" href="/img/thaba-logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/artigo.css">
</head>

<body>

    <div class="container">
        <header>
            <span class="content-navbar-container">
                <span id="logo">
                    <a href="/">
                        <div class="name-lybrary">
                            <h3>Thaba</h3>
                        </div>
                    </a>
                </span>

                <div class="icons">


                    <div class="search-field">
                        <form action="/search" method="post">
                            <input type="search" name="searchTerm" placeholder="procurre por qualquer artigo..."
                                title="Introduce departamento name" class="form-control" aria-label="Search">
                        </form>
                        <select id="category-filter" onchange="filterByCategory()">
                            <option value="opções">filtrar por categoria</option>
                            <option value="bolsa">Bolsa</option>
                            <option value="mochila">Mochila</option>
                            <option value="malaInfo">Mala Informativa</option>
                            <option value="malaLaptop">Mala de Laptop</option>
                            <option value="sacoViagem">Sacola de Viagem</option>
                            <option value="carteira">Carteira</option>
                            <option value="capaCelular">Capa de Celular</option>
                            
                        </select>
                    </div>
                    <div class="icons-navbar">
                        <a href="/casa" class="header-element encostar"><img src="/icon/home.svg" alt="Casa"></a>
                        <a href="/perfil" class="header-element encostar"><img src="/icon/perfil.svg" alt="Perfil"></a>
                        <a href="#sobre-nos" class="header-element"><img src="/icon/about.svg" alt="Info"></a>
                    </div>
                </div>
            </span>
        </header>

        <main>
            <%- body -%>
        </main>

    </div>

    <script src="/js/script.js"></script>
</body>

</html>